@import "variables";
@import "breakepoints";

.App {
  height: 100vh;
  background-color: $background-darker;
  border: 1px solid $light-gray;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &:before {
    content: "";
  }


  @include media ('>phone', '<=tablet') {
    &:before {
      content: "";
    }
  }

  @include media ('>tablet', '<=desktop') {
    &:before {
      content: "";
    }
  }

  @include media ('>desktop') {

    &:before {
      content: "";
    }
  }

}