//variables:
$primary-color: #FFD900;
$secondary-color: #FEF167;
$dark-gray: #ABAFB3;
$light-gray: #DEDFE0;
$light-font: #8C9196;
$dark-font: #545B63;
$navy-font: #004487;
$alert-color: #F05107;
$contrast-color: #4094E3;
$light-contrast: #9CCEF7;
$background-darker: #F0F1F2;
$background-lighter:#FAFAFA;

